<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715191378226-4ls2r058v7molus45tvkuqtffl8dsucp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715191378226-4ls2r058v7molus45tvkuqtffl8dsucp</string>
	<key>API_KEY</key>
	<string>AIzaSyCFCh7MDlf6ZcO-pzoj6NH1jB_vjxGOGpY</string>
	<key>GCM_SENDER_ID</key>
	<string>715191378226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase1</string>
	<key>PROJECT_ID</key>
	<string>pard-159e3</string>
	<key>STORAGE_BUCKET</key>
	<string>pard-159e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715191378226:ios:25504f702b2b44002b372b</string>
</dict>
</plist>